
body{
  background-color: black;
}
.page-title {
  text-align: center;
  color: white;
}
.pages-nav{
  color: #ffffff;
  font-size: 26px;
}
a{
    text-decoration: none;
    font-style: normal;
    
}
a:hover{
  color: blueviolet;
}
ul{
    list-style: none;
}

.content {
Overflow-y:scroll;
margin: 0 auto;
}