
body{
  background-color: black;
}
.page-title {
  text-align: center;
  color: white;
}
.pages-nav{
  color: #ffffff;
  font-size: 26px;
}
.btn{
  background-color: red;
  text-align: center;
  cursor: pointer;
  

}
a{
    color: #fff2f2;
    text-decoration: none;
    font-style: normal;

    
}
a:hover{
  color: rgb(185, 142, 0);
}
ul{
    list-style: none;
}

.content {
Overflow-y:scroll;
margin: 0 auto;
}